* {
    font-family: sans-serif;
    width: 80vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

body {}

form {
    /* display: flexbox; */
    /* gap: 10px; */
}

.selectSort {}

.sort {
    font-size: medium;
    width: 200px;
    height: 50px;
    /* padding: 5px; */
}

form button {
    font-size: medium;
    width: 50px;
    height: 50px;
}

.dataTbl {
    text-align: left;
    margin-top: 10px;    
    border-collapse: collapse;
    border-radius: 10%;
}

.dataTbl tr {
    padding: 10px;
}

.dataTbl tr:nth-child(even) {
    background-color: rgb(54, 54, 54);
    color: white;
}

.dataTbl tr:nth-child(odd) {
    background-color: rgb(24, 23, 27);
    color: white;
}

.dataTbl th {
    border-bottom: 2px white solid;
    background-color: rgb(24, 23, 27);
    color: white;
    padding: 5px;
}
.dataTbl td{
    padding:5px;
}